<section class="intro">
  <div class="container">
    <img src="Adina_square.jpg" alt="me" width="175" height="175">
    <p class="lead"> </p>
    <br> 
    <div> 
      <p>CONTACT: </p>
      <p> <a href="mailto:gitomer.a@northeastern.edu"> gitomer.a [at] northeastern.edu </a> </p>
      <a href="https://twitter.com/AdinaGitomer"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogowik.com%2Fcontent%2Fuploads%2Fimages%2Ftwitter-x5265.logowik.com.webp&f=1&nofb=1&ipt=a99da9164df5678be21faa070580bb281f5f8aa188023c7951ff4e3ef1bb3fbd&ipo=images" title="twitter" width="25" height="25" /></a>
      <a href="https://scholar.google.com/citations?user=zdyWDqgAAAAJ&hl=en&oi=ao"><img src="https://miro.medium.com/max/1200/0*Jyi31IZCJP9z1kD7.png" title="google scholar" width="25" height="25" /></a>
      <a href="https://www.linkedin.com/in/adina-gitomer-44791025b"><img src="https://www.freepnglogos.com/uploads/linkedin-blue-style-logo-png-0.png" title="linkedin" width="25" height="25" /></a>
      <a href="https://github.com/adinagit"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngarts.com%2Ffiles%2F8%2FGithub-Logo-Transparent-Background-PNG.png&f=1&nofb=1&ipt=d7d727298c2487ddc2f70e7ae518e938665c4163b345237e1522c1e8b3a2df21&ipo=images" title="github" width="40" height="25" /></a>
    </div>
  </div>
</section>

