<section class="intro">
  <div class="container">
    <img src="picture_square.jpg" alt="me" width="150" height="150">
    <p class="lead">hey! I made a website!!! excited to see what comes next!</p>
    <br> 
    <div> 
      <p>CONTACT: </p>
      <p> gitomer.a [at] northeastern.edu </p>
      <a href="https://twitter.com/AdinaGitomer"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.iconfinder.com%2Fdata%2Ficons%2Fminimalism%2F512%2Ftwitter.png&f=1&nofb=1" title="twitter" width="25" height="25" /></a>
    </div>
  </div>
</section>

