
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me 💅</a></li>
      <li><a href="{{ '/pubs' | prepend: site.baseurl | prepend: site.url }}">Publications 💅</a></li>
      <li><a href="{{ '/CV_6_22_21_git.pdf' | prepend: site.baseurl | prepend: site.url }}">CV 💅</a></li>
<!--       <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li> -->
    </ul>
  </div>
</nav>
